body,html {width: 100%; height: 100%;}
body {background-image: url("asdf.jpg");
	  background-size: cover;
	  height: 100%;
	  background-position: center;}
div.carousel {height: 100%}

hr { max-width: 65px;
 	 border-width: 3px;
	 border-color: #c0c5ce; }
.btn { text-transform: uppercase;
 	   border-radius: 10px;
 	   font-family: 'Concert One', cursive;
 	   border-style: none;
 	   font-size: 20px}
.btn-dark {background-color: #65737e}
strong {border-bottom: 3px solid;
		border-color: #c0c5ce;
		text-transform: uppercase;
		font-size: 40px;
		font-family: 'Concert One', cursive;
		color: #343d46;}
div.bottom {color: #65737e;
		 	position:absolute;
		 	bottom: 0px;
		 	right: 50px;
		 	font-size: 15px;
			font-family: 'Monoton', cursive; }	
header {padding-top: 22%;}

